* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

body {
    background: #121214;
    font-family: 'Roboto', sans-serif;
    color: aliceblue;
}

.container {
    text-align: center;
    width: 300px;
    margin: 60px auto;
}

img {
    width: 100%;
}

img.avatar {
    border-radius: 50%;
    width: 150px;
    right: 150px;
    padding: 5px;
    border: #6833e4 solid 5px;
}

p {
    font-family: 'Roboto Mono', monospace;
    font-weight: 400;
    color: aliceblue;
    opacity: 0.8;
    font-size: 18px;
}

ul {
    list-style: none;
    margin: 48px 0;
}

h1 {
    font-size: 32px;
    margin-top: 24px;
    margin-bottom: 8px;
    color: aliceblue;
}

ul li a {
    height: 53px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #6833e4;
    color: aliceblue;
    text-transform: uppercase;
    font-size: 14px;

    margin-bottom: 16px;
    border-radius: 6px;

    transition: background 400ms;
}

ul li a:hover {
    background: #364FC7;
}

footer {
    font-weight: 500;
    font-size: 12px;
    color: aliceblue;
    opacity: 0.6;
}